.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f3f5;
}

.container {
  background-color: #a2b5bf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%; /* Adjust to fit the content */
  margin: 0 auto; /* Center horizontally */
}
.center {
  text-align: center;
}

.btn {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-outline:hover {
  background-color: #007bff;
  color: #fff;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
}

p {
  margin-top: 10px;
}

.btn-container {
  margin-top: 20px;
  justify-content: space-between;
}
.w{
  gap: 20px;
  display: flex;
}
.h {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}
